*{
  color: #fff;
}
body{
  padding: 20px;
  background-color: #21232A;
}
h1{
  color: aqua;
  text-align: center;
}
h3{
  display: inline;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  margin: 10px;
}
